* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
      grid-template-areas: "header" "contenido" "footer";
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.contenido {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: contenido;
  min-height: 100vh;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: black;
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .625rem 1.625rem;
  width: 100%;
}

header #logo h1 a {
  font-family: 'Encode Sans SC', sans-serif;
  color: whitesmoke;
}

header #logo h1 a:hover {
  color: #f8d134;
}

header #menuNavHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header #menuNavHeader ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header #menuNavHeader ul li {
  margin-left: 30px;
}

header #menuNavHeader ul li a {
  color: whitesmoke;
  font-family: 'Encode Sans SC', sans-serif;
}

header #menuNavHeader ul li a:hover {
  color: #f8d134;
}

header #menuUsuarioHeader ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header #menuUsuarioHeader ul li {
  margin-left: 30px;
}

header #menuUsuarioHeader ul li i {
  color: whitesmoke;
  cursor: pointer;
}

header #menuUsuarioHeader ul li i:hover {
  color: #f8d134;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.main-index {
  background-image: url(../img/fotoPortadaIndex.jpg);
  height: 120vh;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-index .principal__div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-index .principal__div .principal__subtitulo {
  cursor: pointer;
  -webkit-transition: 2s;
  transition: 2s;
  color: #f8d134;
  font-family: 'Encode Sans SC', sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: 2.34px;
}

.main-index .principal__div .principal__subtitulo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main-index .principal__div .principal__enlace .boton-principal__div {
  margin-top: .9rem;
  width: 10.5625rem;
  height: 3rem;
  border: solid 0.1rem whitesmoke;
  border-radius: 1.75rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: transparent;
  color: whitesmoke;
  letter-spacing: 0.8px;
  font-size: .9rem;
}

.main-index .principal__div .principal__enlace .boton-principal__div:hover {
  background-color: #f8d134;
  color: black;
  border: none;
}

.footer {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: .625rem 1.625rem;
  min-height: 50px;
  height: auto;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__derechos {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.footer .footer__derechos .footer__texto {
  font-size: small;
  color: whitesmoke;
  font-family: 'Encode Sans SC', sans-serif;
}

.footer .footer__redes {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.footer .footer__redes .footer__lista2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer .footer__redes .footer__lista2 li {
  margin: 0 1rem;
}

.footer .footer__redes .footer__lista2 li a {
  color: whitesmoke;
}

.footer .footer__redes .footer__lista2 .footer__facebook:hover {
  color: #f8d134;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.footer .footer__redes .footer__lista2 .footer__instagram:hover {
  color: #f8d134;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#contenidoProductos {
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
      grid-template-areas: "menuFiltrosProductos contenidoProductosTarjetas";
}

#contenidoProductos #menuFiltrosProductos {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: menuFiltrosProductos;
}

#contenidoProductos #menuFiltrosProductos ul {
  margin-top: 70px;
  margin-left: 15px;
  margin-right: 5px;
}

#contenidoProductos #menuFiltrosProductos ul li {
  margin-bottom: 15px;
  cursor: pointer;
  font-family: "Encode Sans SC", sans-serif;
  border: 1px solid black;
  padding: 5px;
  border-radius: 7px;
  text-align: center;
  color: black;
}

#contenidoProductos #menuFiltrosProductos ul li:hover {
  color: whitesmoke;
  background-color: #1d1b1b;
}

#contenidoProductos .contenidoProductosTarjetas {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: contenidoProductosTarjetas;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.8rem;
  justify-items: stretch;
  padding-left: 50px;
}

#contenidoProductos .contenidoProductosTarjetas .producto-container {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  border-radius: 0.3rem;
  max-height: 570px;
  max-width: 500px;
}

#contenidoProductos .contenidoProductosTarjetas .producto-container:hover {
  -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
}

#contenidoProductos .contenidoProductosTarjetas .producto-container img {
  width: 275px;
  height: 350px;
  margin: 1rem auto;
  -webkit-transition: 2s;
  transition: 2s;
  border-radius: 0.3rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

#contenidoProductos .contenidoProductosTarjetas .producto-container img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#contenidoProductos .contenidoProductosTarjetas .producto-container h3 {
  margin: 1.5rem 1.5rem;
  height: 47px;
  font-family: "Encode Sans SC", sans-serif;
  color: black;
}

#contenidoProductos .contenidoProductosTarjetas .producto-container h4 {
  margin-left: 1.5rem;
  margin-bottom: 0.125rem;
  font-family: "Encode Sans SC", sans-serif;
  color: black;
}

#contenidoProductos .contenidoProductosTarjetas .producto-container button {
  float: right;
  margin-right: 1.5rem;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  padding: 0.5rem 1.3rem;
  cursor: pointer;
  border-radius: 0.8rem;
  border: none;
  background-color: #dad9d9;
}

#contenidoProductos .contenidoProductosTarjetas .producto-container button i {
  margin-left: 4px;
}

#contenidoProductos .contenidoProductosTarjetas .producto-container button:hover {
  background-color: #4c4545;
  color: white;
}

#contenidoProductos .carrito-compras {
  display: block;
  position: absolute;
  top: -1900px;
  right: 0px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.987);
  height: 90%;
  width: 400px;
  border: 2px solid black;
  padding: 20px 10px 10px 20px;
  overflow: scroll;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

#contenidoProductos .carrito-compras .carrito-compras-div1 h2 {
  font-size: 1.1rem;
  font-family: "Encode Sans SC", sans-serif;
  line-height: 2rem;
  border-bottom: 1px solid black;
  width: 50%;
}

#contenidoProductos .carrito-compras .carrito-compras-productos {
  min-height: 60%;
  margin: 10px 0;
  padding: 20px 20px 0 20px;
}

#contenidoProductos .carrito-compras .carrito-compras-productos .producto-carrito {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid rgba(112, 112, 112, 0.6);
}

#contenidoProductos .carrito-compras .carrito-compras-productos .producto-carrito img {
  width: 80px;
  height: 80px;
}

#contenidoProductos .carrito-compras .carrito-compras-productos .producto-carrito .producto-carrito-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-width: 70%;
  font-family: "Encode Sans SC", sans-serif;
}

#contenidoProductos .carrito-compras .carrito-compras-productos .producto-carrito .producto-carrito-info p:first-of-type {
  font-size: .9rem;
}

#contenidoProductos .carrito-compras .carrito-compras-final .total-precio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(112, 112, 112, 0.6);
  border-top: 1px solid rgba(112, 112, 112, 0.6);
}

#contenidoProductos .carrito-compras .carrito-compras-final .total-precio h3, #contenidoProductos .carrito-compras .carrito-compras-final .total-precio h4 {
  font-size: 1.2rem;
  font-family: "Encode Sans SC", sans-serif;
  line-height: 2rem;
}

#contenidoProductos .carrito-compras .carrito-compras-final .btn-carrito-finalizar {
  float: right;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  padding: 0.5rem 1.3rem;
  cursor: pointer;
  border-radius: 0.8rem;
  border: none;
  background-color: #dad9d9;
}

#contenidoProductos .carrito-compras .carrito-compras-final .btn-carrito-finalizar:hover {
  background-color: #4c4545;
  color: white;
}

#contenidoProductos .cuenta-usuario {
  display: block;
  position: absolute;
  top: -1900px;
  right: 0px;
  margin: auto;
  height: 600px;
  background-color: #f8d134;
  opacity: 0.9;
  width: 500px;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

#contenidoProductos .cuenta-usuario .cuenta-usuario-div1 {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contenidoProductos .cuenta-usuario .cuenta-usuario-div1 h2 {
  font-family: "Encode Sans SC", sans-serif;
  text-align: center;
  margin-bottom: 50px;
}

#contenidoProductos .cuenta-usuario .cuenta-usuario-div1 input {
  width: 60%;
  border-radius: 10px;
  height: 30px;
  margin: 10px auto;
  text-align: center;
  height: 40px;
}

#contenidoProductos .cuenta-usuario .cuenta-usuario-div1 button {
  width: 30%;
  margin: 10px auto;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
}

#contenidoProductos .cuenta-usuario .cuenta-usuario-final {
  padding-top: 50px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contenidoProductos .cuenta-usuario .cuenta-usuario-final h3 {
  font-size: .8rem;
  text-align: center;
  font-family: "Encode Sans SC", sans-serif;
}

#contenidoProductos .cuenta-usuario .cuenta-usuario-final button {
  width: 30%;
  margin: 10px auto;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
}

.contenido-contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/contactofondo.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contenido-contacto .contact {
  margin: auto;
  height: 600px;
  background-color: #f8d134;
  opacity: 0.7;
  width: 500px;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.contenido-contacto .contact .contact-sup {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.contenido-contacto .contact .contact-sup .contact-info {
  width: 50%;
  padding-top: 20px;
}

.contenido-contacto .contact .contact-sup .contact-info img {
  display: block;
  margin: auto;
}

.contenido-contacto .contact .contact-sup .contact-info h2,
.contenido-contacto .contact .contact-sup .contact-info h4 {
  text-align: center;
  margin-top: 10px;
  font-family: 'Encode Sans SC', sans-serif;
}

.contenido-contacto .contact .contact-inf {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenido-contacto .contact .contact-inf .contact-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenido-contacto .contact .contact-inf .contact-form input {
  width: 60%;
  border-radius: 10px;
  height: 30px;
  margin: 10px auto;
  text-align: center;
  height: 40px;
}

.contenido-contacto .contact .contact-inf .contact-form textarea {
  width: 70%;
  margin: 10px auto;
  border-radius: 10px;
  padding: 10px;
}

.contenido-contacto .contact .contact-inf .contact-form label {
  text-align: center;
}

.contenido-contacto .contact .contact-inf .contact-form button {
  width: 30%;
  margin: 10px auto;
  height: 30px;
  border-radius: 10px;
}
/*# sourceMappingURL=main.css.map */